* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body,
html {
  background-color: #333333;
  height: 6000px;
}

.slider {
  position: fixed;
  top: 20vh;
  width: 6000px;
  display: flex;
  justify-content: space-around;
  transition: transform 0.15s;
  will-change: transform;
}

.slide {
  position: relative;
  width: 500px;
  height: 480px;
}

.slide--1 {
  background-color: aliceblue;
}

.slide--2 {
  background-color: aqua;
}

.slide--3 {
  background-color: beige;
}

.slide--4 {
  background-color: cadetblue;
}

.slide--5 {
  background-color: deeppink;
}

.slide--6 {
  background-color: darkred;
}
